!!! XML
!!!

%html
  %head
    %title= $rapaste[:title]
    %link{:href => '/css/screen.css', :rel => 'stylesheet', :type => 'text/css'}
    - if $rapaste[:engine] == :uv
      %link{:href => "/css/#{theme}.css", :rel => 'stylesheet', :type => 'text/css'}
    - else
      %link{:href => "/coderay.css", :rel => 'stylesheet', :type => 'text/css'}
  %body
    #wrapper
      #head
        #logo
          %h1 RaPaste
          %a{:href => '/'}
            %img{:src => "/images/logo.png"}
        #srch 
          %form{:id => :search, :action => '/search', :method => 'GET'}           
            %input{:type => :text, :name => :substring, :value => 'Search'}
        #menu
          %a{:href => '/'} New
          %a{:href => '/list'} List
          - if session[:user]
            = AccountController.a('Logout', :logout)
          - else
            = AccountController.a('Login', :login)
         
        #flash= flashbox
      #content= @content
      #footer
        &copy;
        ~ [2008, Date.today.year].uniq.join('-')
        by manveru
        \|
        Powered by  
        %a{:href => 'http://ramaze.net'} Ramaze
        \|
        %a{:href => 'http://github.com/manveru/rapaste'} View Source
