.sub_menu= @pager.navigation

.list_head= @title

.list
  - @pager.each do |paste|
    .item
      %pre.fragment~ paste.text_fragment
      %a.item_meta{:href => paste.link(:href)}
        %span.paste_id= paste.id
        %span.syntax= paste.syntax_description
        ,
        %span.created= "created #{time_diff paste.created} ago"
      %a.prev{:href => paste.link(:href)}
        Preview
  - if @pastes.empty?
    .list_empty
      No pastes available yet, go on and
      %a{:href => '/'} Add one

= @pager.navigation
