.sub_menu
  = @paste.link(:fork)
  = @paste.link(:html)
  = @paste.link(:txt)
  = @paste.link(:rb)
  = @paste.link(:svg)
  - if session[:pastes] and session[:pastes].include?(@paste.id)
    = @paste.link(:delete)
.paste_date
  Created:
  = @paste.created.utc
- if @paste.category == 'spam'
  .warning This paste is considered spam, watch out
%pre.paste_body~ @paste.text_full
